.userSnapshot {
    flex: 0 0 26%;
}

.userName {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.userDetails {
    font-size: 14px;
    color: #666;
    margin: 0
}

