.chat-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.room-name-container{
 display: inline; 
}

.button-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  max-width: 80%;
}

.button-group-header {
  margin-top: 20px;
  font-size: 20px;
  opacity: 60%;
}

/* Button Styles */
.button-group button {
  background-color: #263238;
  border: none;
  color: rgb(251, 251, 251);
  font-size: 12px;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Button Hover Styles */
.button-group button:hover {
  background-color: #f3dfb6;
  color: #000000;;
  transform: scale(1.05);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.joinChatContainer {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinChatContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.joinChatContainer input {
  width: 200px;
  height: 35px;
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  display: inline;
  width: 200px;
  height: 35px;
  margin: 7px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background: #263238;
  color: #ffffff;
  cursor: pointer;
}

.leave {
  background: #263238;
  color: #ffffff;
}


.joinChatContainer button:hover {
  background: #f3dfb6;
  color: #000000;
}

.chat-window {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  border-radius: 3px;
  background: #263238;
  position: relative;
  cursor: pointer;
}

.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #ccc;
  background: #fff;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #ccc;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #ccc;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}

.hide {
  opacity: 0 !important;
}
