/* Chatroom.css */
.chatroom-container {
  display: flex;
  height: 100%;
}

.chatroom-list {
  width: 25%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.chatroom-list h3 {
  margin-bottom: 20px;
  align-self: center;
}

.chatroom-list ul {
  list-style: none;
  padding: 0;
}

.chatroom-list li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 4px;
  transition: background 0.3s;
}

.chatroom-list li:hover {
  background: #ddd;
}

.chatroom-list .active-chatroom {
  background-color: #d3d3d3;
  font-weight: bold;
}

.chat-window {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  box-sizing: border-box;
}

.chat-window h3 {
  margin-bottom: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-right: 10px;

  height: 80%;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  word-wrap: break-word;
}

.message.sent {
  align-self: flex-end;
  background-color: #fff;
  border: 1px solid #ddd;
}

.message.received {
  align-self: flex-start;
  background-color: #fff;
  border: 1px solid #ddd;
}

.message-content {
  margin-bottom: 5px;
}

.message-timestamp {
  font-size: 0.8em;
  color: #999;
  text-align: right;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  background-color: #404040;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #FEC500;
  color: #404040;
}
