/* PostProject.css */

.post-project-container {
    display: flex;
    height: 100%;
}

.projects-list {
    flex: 1;
    margin-right: 20px;
    overflow-y: auto;
}

.projects-list h3 {
    margin-bottom: 20px;
}

.projects-list ul {
    list-style: none;
    padding: 0;
    overflow-y: auto;
}

.projects-list div {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-project-form {
    flex: 0.5;
    padding: 20px;
}

.add-project-form h3 {
    margin-bottom: 20px;
}

.add-project-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-project-form label {
    margin-bottom: 5px;
}

.add-project-form input,
.add-project-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.add-project-form button {
    margin-top: 2rem;
    padding: 10px;
    border: none;
    background-color: #404040;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.add-project-form button:hover {
    background-color: #FEC500;
    color: #404040;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
