.header-container a {
    color: #333;
    text-decoration: none;
}

.header-container .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2rem;
}

.logout button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}
