/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

:root {
  --primary: black;
  --error: #e7195a;
}

.App {
  max-width: 3000px;
}

.main-container {
  display: flex;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header-container {
  top: 0;
  position: sticky;
  height: 10vh;
  background: #fff;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  height: 85vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1%;
}

/* auth forms */
form.signup, form.login {
  width: 25%;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.signup label, .signup input, .login label, .login input {
  display: block;
}

.signup input, .login input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup select, .login select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup button, .login button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.signup .error, .login .error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.signup input.error, .login input.error {
  border: 1px solid var(--error);
}
