.projectDetails {
    flex-grow: 1;
    font-family: Arial, sans-serif;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    margin-left: 10px;
}

.projectTitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 0;
}

.projectTeammates {
    font-size: 16px;
    color: #555;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    font-weight: bold;
}

.projectTags, .projectDescription {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: #FEC500;
    color: black;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 15px;
    font-size: 14px;
}

.projectTags {
    margin-bottom: 10px;
}

.projectTeammates, .projectDescription {
    margin-bottom: 5px;
}

.projectDescription {
    line-height: 1.5;
}

.deleteButton {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.deleteButton:hover {
    background-color: #c0392b;
}
