
.container {
    margin-left: 100px;
    
}

.title {
    font-family: 'Roboto', sans-serif; /* Use a clean and modern font */
    font-weight: 700; /* Use a bold font weight */
    text-decoration: none; /* Remove any text decoration */
    margin-left: 2rem;
}

.logout {
    display: flex;
    align-items: center;
}
.logout button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}