.form_data {
    margin-left: 300px;
    margin-right: 300px
}

.btn {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}