@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 15px;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container .tags-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
}

.tag-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-left: 150px;
}

.tag-option {
  background-color: #f0e7e7;
  border-radius: 20px;
  color: #555;
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.tag-option:hover {
  background-color: #2c7ab7;
  box-shadow: 0 2px 4px #ccc;
}

input.text-input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 10px;
  flex-grow: 1;
}

.tag-box {
  display: flex;
  align-items: center;
  background-color: #ccc;
  border-radius: 20px;
  color: #fff;
  padding: 3px 10px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  max-width: 100%;
  font-family: 'Poppins', sans-serif; /* Added a more appealing font */
  box-shadow: 0 2px 4px #ccc; /* Added a subtle shadow */
}



.tag-box:hover {
  transform: translateY(-3px);
  background-color: #2c7ab7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.tag-box span {
  font-size: 12px;
  white-space: nowrap; /* Prevent wrapping of the text */
  overflow: hidden; /* Hide the overflow of the text */
  text-overflow: ellipsis; /* Add ellipsis to the overflowing text */
}
.tag-box button {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px; /* Smaller font size for the button inside the tag box */
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.tag-box button:hover {
  color: #ffffff;
}

button[type="submit"] {
  /* background-color: #11b7b7; */
  background-color: #3c99dc;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
  background-color: #4ab2cc;
  box-shadow: 0 2px 4px rgb(246, 243, 243);
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.feather-search {
  stroke: #657789;
}

.advanced-search-btn {
  background-color: #3c99dc;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.advanced-search-btn:hover {
  background-color: #2c7ab7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-container {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 650px;
  box-shadow: 0 4px 6px #ccc;
  margin-left: 860px;
  display: flex; /* Added for subcategories layout */
}

.dropdown-subcategory {
  flex: 1; /* Distribute space evenly between subcategories */
  padding: 0 10px; /* Add some padding between subcategories */
}

.dropdown-subcategory h4 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}


.dropdown-container .tag-option {
  margin: 3px;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.feather-search {
  stroke: #657789;
}


.highlight {
  background-color: rgb(246, 25, 125);
  font-weight: bold;
}