.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 150px;
  margin-top: 20px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container .tags-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 10px;
  flex-grow: 1;
}

.tag-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-left: 150px;
}

.tag-option {
  background-color: #3c99dc;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.tag-option:hover {
  background-color: #2c7ab7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input.text-input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 10px;
  flex-grow: 1;
}

.tag-box {
  display: flex;
  align-items: center;
  background-color: #3c99dc;
  border-radius: 20px;
  color: #fff;
  padding: 3px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.tag-box:hover {
  background-color: #2c7ab7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-box button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.tag-box button:hover {
  color: #f1f1f1;
}

button[type="submit"] {
  background-color: #3c99dc;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
  background-color: #2c7ab7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
